{{ attach_library('iestrafalgar_weather/iestrafalgar_weather') }}

<div class="cb-weather">
  <h2>{{ 'Weather Block' }}</h2>
  <p class="c-text">El Tiempo actual</p>
  <p class="c-degrees">{{ temperature }} C</p>
  <p class="c-wind-speed">{{ windSpeed }} km/h</p>
</div>
